.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/BouncyCastle.Crypto.dll
bin/Debug/net5.0/Common.Logging.Core.dll
bin/Debug/net5.0/Nethereum.ABI.dll
bin/Debug/net5.0/Nethereum.Accounts.dll
bin/Debug/net5.0/Nethereum.BlockchainProcessing.dll
bin/Debug/net5.0/Nethereum.Contracts.dll
bin/Debug/net5.0/Nethereum.Hex.dll
bin/Debug/net5.0/Nethereum.JsonRpc.Client.dll
bin/Debug/net5.0/Nethereum.JsonRpc.RpcClient.dll
bin/Debug/net5.0/Nethereum.KeyStore.dll
bin/Debug/net5.0/Nethereum.Model.dll
bin/Debug/net5.0/Nethereum.RLP.dll
bin/Debug/net5.0/Nethereum.RPC.dll
bin/Debug/net5.0/Nethereum.Signer.dll
bin/Debug/net5.0/Nethereum.Util.dll
bin/Debug/net5.0/Nethereum.Web3.dll
bin/Debug/net5.0/NethereumBasics.deps.json
bin/Debug/net5.0/NethereumBasics.dll
bin/Debug/net5.0/NethereumBasics.pdb
bin/Debug/net5.0/NethereumBasics.runtimeconfig.dev.json
bin/Debug/net5.0/NethereumBasics.runtimeconfig.json
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/ref/NethereumBasics.dll
obj/NethereumBasics.csproj.nuget.dgspec.json
obj/NethereumBasics.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/NethereumBasics.AssemblyInfo.cs
obj/Debug/net5.0/NethereumBasics.AssemblyInfoInputs.cache
obj/Debug/net5.0/NethereumBasics.assets.cache
obj/Debug/net5.0/NethereumBasics.csproj.AssemblyReference.cache
obj/Debug/net5.0/NethereumBasics.csproj.CopyComplete
obj/Debug/net5.0/NethereumBasics.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/NethereumBasics.csproj.FileListAbsolute.txt
obj/Debug/net5.0/NethereumBasics.dll
obj/Debug/net5.0/NethereumBasics.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/NethereumBasics.genruntimeconfig.cache
obj/Debug/net5.0/NethereumBasics.pdb
obj/Debug/net5.0/ref/NethereumBasics.dll
obj/project.assets.json
obj/project.nuget.cache
obj/NethereumBasics.csproj.nuget.dgspec.json
obj/NethereumBasics.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
